<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Lista de cadastro</h4>
                    <p class="category">Lista de Lançamentos Diários</p>
                    <a [routerLink]="['/sococo']" class="btn btn-link scc-link-panel">Novo cadastro</a>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of dataRows">
                                <td>{{row.id}}</td>
                                <td>{{row.dataLancamento | date:'dd/MM/yyyy'}}</td>
                                <td>{{row.cocosDesfibrados}}</td>
                                <td>{{row.cocosProcessados}}</td>
                                <td>{{row.cri}}</td>
                                <td>{{row.flococo}}</td>
                                <td>{{row.oleoIndustrialETE}}</td>
                                <td>{{row.oleoIndustrialTipoA}}</td>
                                <td>{{row.torta}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>