<div class="container-fluid">
    <div class="row row-acqua">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <!-- <h4 class="title">Cadastro lançamento Acqua</h4> -->
                    <h3 class="text-on-pannel-acqua text-primary"><strong class="text-uppercase title-acqua"> Produção diária Acqua </strong></h3>
                </div>
                <div class="content">
                    <form #formulario="ngForm" (ngSubmit)="confirmarCadastro()" novalidate>

                        <app-input errorMessage="Campo Obrigatório" label="Data">
                            <input class="form-control" type="date" id="dataLancamento" name="dataLancamento" ngModel required>
                        </app-input>

                        <app-input errorMessage="Campo Obrigatório" label="Água de Cocô Sococo">
                            <input class="form-control" type="number" placeholder="Água de Cocô Sococo" name="aguaDeCocoSococo" ngModel required autocomplete="off">
                        </app-input>

                        <app-input errorMessage="Campo Obrigatório" label="Água de Cocô Verde">
                            <input class="form-control" type="number" placeholder="aguaDeCocoVerde" name="aguaDeCocoVerde" ngModel required autocomplete="off">
                        </app-input>

                        <app-input errorMessage="Campo Obrigatório" label="Porcentagem de Cocô Germinado">
                            <input class="form-control" type="text" placeholder="Porcentagem de Cocô Germinado" name="porcentagemCocoGerminado" ngModel required autocomplete="off">
                        </app-input>

                        <app-input errorMessage="Campo Obrigatório" label="Total de Cacambas">
                            <input class="form-control" type="number" placeholder="Total de Cacambas" name="totalDeCacambas" ngModel required autocomplete="off">
                        </app-input>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label form-control-label"></label>
                            <div class="col-lg-10">
                                <input type="submit" class="btn btn-primary" value="Salvar" [disabled]="!formulario.valid">
                                <input type="reset" class="btn btn-secondary" value="Cancelar">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>